.card-favorito {
    position: relative;
    width: 500px;
    min-height: 120px;
    padding: 15px 20px;
    margin: 0 auto;

    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
}

.card-favorito h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
}

.card-favorito p {
    margin: 5px 0;
}

#lista-favoritos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.btn-comprar {
    position: absolute;
    right: 20px;
    bottom: 20px;

    padding: 10px 20px;
    border: none;
    border-radius: 8px;

    cursor: pointer;
}

.btn-remover {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
body{
    color: rgb(29, 4, 255);
    background-color: #00c9d2;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    margin: 0;
}

#Logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#Logo img {
    width: 350px;
    height: 350px;
    object-fit: contain;
}

footer{
    text-align: center;
    display: flex;
    flex-direction: column;
}

main h1{
    text-align: center;
}

.btn-comprar:hover {
    background-color: blue;
    color: white;
}