body{
    color: #fef7d5;
    background-color: #00c9d2;
    font-family: 'Times New Roman', Times, serif;
}

#Logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#Logo img {
    width: 350px;
    height: 350px;
    object-fit: contain;
}

#Logo nav {
    margin-top: 15px;
}

#Logo nav a {
    margin: 0 10px;
}

nav a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

main h2 {
    text-align: center;
    color: #0b4462;
    margin-bottom: 30px;
}

.produtos {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.section {
    width: 280px;
    flex-wrap: wrap;
}